ul{
    color: aqua;
    display: flex;
    justify-content: center;
    text-shadow: 8px 8px 8px;
}
li{
    text-decoration: none;
    padding-top: 2rem;
    font-weight: bold;
    font-size: large;
}
h3{
    display: flex;
    justify-content: center;
    color: red;
    text-transform: uppercase;
    text-shadow: 5px 5px 5px;
    box-shadow: 10px 10px 10px red;
    font-size: larger;
}