.login{
    padding-top: 1.5rem;
    padding-left: 1rem;
}
h5{
    padding-bottom: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 5px 5px 5px;
}
label{
    font-size:1rem;
    text-shadow: 5px 5px 5px;
}
.btn{
    font-weight: bold;
    border-radius: 0.5em;
    width: 10%;
    box-shadow: 5px 3px 4px black;
}
.btn:hover{
    background-color: red;
}
input{
    width:20%;
    box-shadow: 5px 5px 5px black;
}