h3{
    font-size: larger;
    padding-top: 1rem;
    margin: 1rem;
    color: red;
    text-shadow: 5px 5px 5px;
}
h4{
    padding-top: 1rem;
    text-shadow: 5px 5px 5px;
    padding-left: 1rem;
    
}
ol{
    padding-top: 1rem;
    font-size: large;
    padding-left: 1rem;
    
}
li{
    padding-top: 0.5rem;
    text-shadow: 6px 6px 6px;
    text-decoration: none;
}