h3{
    font-size: larger;
    padding-top: 1rem;
    margin: 1rem;
    color: red;
}
h4{
    padding-top: 1rem;
    padding-left: 1rem;
    color: aqua;
    
}
ol{
    padding-top: 1rem;
    font-size: large;
    padding-left: 1rem;
    color: aqua;
    
}
li{
    padding-top: 0.5rem;
    text-decoration: none;
}